---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import BottomSendMess from '../react/BottomSendMess';
import Radar from '../components/Radar.astro';
---


<Layout title="Welcome to Astro.">
	<main class="flex flex-col items-center justify-between h-full">
		<Title/>
		<Radar size='250px' />
		<div class="fixed bottom-0 my-8 sm:invisible"><BottomSendMess client:visible/></div>
	</main>
	
</Layout>