---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import SendMess from "../react/SendMess";
import Radar from "../components/Radar.astro";
import Footer from "../components/Footer.astro";
import NotificationContainer from "../react/NotificationContainer";
import ChatSendMess from "../react/ChatSendMess";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col items-center justify-between h-full">
    <Radar size="250px" />
    <Title />
    <ChatSendMess client:only="react" />
    <Footer>
      <NotificationContainer client:only="react" />
      <div class="block lg:hidden mb-8">
        <SendMess client:only="react" />
      </div>
    </Footer>
  </main>
</Layout>