---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import MyButton from '../react/MyButton'
import MyAvatar from '../react/MyAvatar'
import {Checkbox} from "@nextui-org/react";
const n = [1,2,3,4,5,6];
---

<Layout title="Welcome to Astro.">
	<h1 class="text-9xl">Harooooo</h1>
	<MyButton client:only="react" text='count is: '/>
	<MyAvatar client:only="react"/>
	<Checkbox client:only="react" defaultSelected>Option</Checkbox>
	{n.map(x => <>{x}<br/></>)}
	<Card
		href="https://astro.build/chat/"
		title="Community"
		body="Come say hi to our amazing Discord community. ❤️"
	/>
</Layout>