--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark bg-gradient-to-bl from-zinc-900 via-slate-900 to-stone-900" style="color-scheme: dark;">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative container mx-auto max-w-7xl z-10 px-6 min-h-[100vh] flex-grow">
		<slot />
		<div id="outerContainer">
			<div id="container">
				<div class="circle" style="animation-delay: -12s"></div>
<div class="circle" style="animation-delay: -8s"></div>
<div class="circle" style="animation-delay: -4s"></div>
<div class="circle" style="animation-delay: 0s"></div>
			</div>
		  </div>
	</body>
</html>

<style>
	.circle {
  border-radius: 50%;
  background-color: deepskyblue;
  width: 150px;
  height: 150px;
  position: absolute;
  opacity: 0;
  animation: scaleIn 16s infinite cubic-bezier(.36, .11, .89, .32);
}
	@keyframes scaleIn {
  from {
    transform: scale(0, 0);
    opacity: .5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
</style>

