--- 
import Radar from '../components/Radar.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark bg-gradient-to-bl from-zinc-900 via-slate-900 to-stone-900" style="color-scheme: dark;">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative container mx-auto max-w-7xl z-10 px-6 min-h-[100vh] flex-grow">
		<slot />
		<Radar size='250px' />
	</body>
</html>



